<div class="container">
	<table class="center bordered hoverable responsive-table" align=center>
		<thead>
			<tr>
				<% include ../../assets/templates/sort %>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% _.each(records, function (user) { %>
				<tr>
					<td>
						<%=user.name %>
					</td>
					<td>
						<%=user.email %>
					</td>
					<td>
						<a href="/user/show/<%=user.id%>" class="btn-floating waves-effect waves-light brown">
							<i class="material-icons">search</i>
						</a>
					</td>
					<td>
						<a href="/user/edit/<%=user.id%>" class="btn-floating waves-effect waves-light blue">
							<i class="material-icons">create</i>
						</a>
					</td>
					<td>
  						<a class="btn-floating waves-effect waves-light red modal-trigger" href="#modalDeleteUser"
							  data-action="/user/destroy/<%=user.id%>"
							  data-form="#formDeleteUser"
							  data-message="<%=i18n('Do you wish delete the user %s?',user.name)%>"
							  data-title="<%=i18n('Delete')%>">
							<i class="material-icons">clear</i>
					 	</a>
					</td>
				</tr>
				<% }) %>
		</tbody>
	</table>
	<div class="row">
		<% include ../../assets/templates/paginate %>
	</div>
</div>

<div id="modalDeleteUser" class="modal">
	<form id="formDeleteUser" action="" method="POST">
		<input type="hidden" name="_method" value="delete" />
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<div class="modal-content">
			<h4></h4>
			<p></p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action">
				<%=i18n('Delete')%>
			</button>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=i18n('Close')%></a>
		</div>
	</form>
</div>