<div class="container">
	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error])  %></li>	
	<% }) %>	
		</ul>
	<% } %>
	<ul class="collapsible popout" data-collapsible="accordion">
		<li>
			<div class="collapsible-header collapsible-filter <%=(req.param('filterIsOpen')?((req.param('filterIsOpen') == 'true')?'active':''):'')%>"><i class="material-icons">view_headline</i>Filter</div>
			<div class="collapsible-body">
				<div class="row">
					<div class="container">
						<div class="center">
							<form action="/athlete" method="get" class="col s12">
								<div class="row">
									<div class="input-field col s6">
										<input id="nameFilter" name="nameFilter" value="<%=(req.param('nameFilter')?req.param('nameFilter'):'')%>" type="text" class="validate" maxlength="50">
										<label for="nameFilter" data-error="<%=i18n('Invalid')%>"><%=i18n("Athlete's Name")%></label>
									</div>
									<div class="input-field col s6">
										<input id="instructorFilter" name="instructorFilter" value="<%=(req.param('instructorFilter')?req.param('instructorFilter'):'')%>" type="text" class="validate" maxlength="50">
										<label for="instructorFilter" data-error="<%=i18n('Invalid')%>"><%=i18n("Instructor's Name")%></label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s3">
										<select id="graduationFilter" name="graduationFilter">
											<option value="">Qualquer</option>
											<%_.each(Athlete.attributes.graduation.enum, function (enumValue) {%>
												<option <%=(req.param('graduationFilter') == enumValue)?'selected':''%> value="<%=enumValue%>"><%=i18n(enumValue)%></option>
											<%})%>
										</select>
										<label for="graduationFilter"><%=i18n('Graduation')%></label>
									</div>
									<div class="input-field col s3">
										<select id="validityFilter" name="validityFilter">
											<option value="">Qualquer</option>
											<option <%=(req.param('validityFilter') == 'true')?'selected':''%> value="true">Valid</option>
											<option <%=(req.param('validityFilter') == 'false')?'selected':''%> value="false">Expirated</option>
										</select>
										<label for="validityFilter">Validity</label>
									</div>
								</div>
								<input type="hidden" id="filterIsOpen" name="filterIsOpen" value="<%=(req.param('filterIsOpen')?req.param('filterIsOpen'):'false')%>">
								<div class="row">
									<button class="btn waves-effect waves-light" type="submit" name="action" id="buttonClear" value="clear">Clear
									</button>
									<button class="btn waves-effect waves-light" type="submit" name="action" value="filter">Filter
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="sortAthlete">
		<% include ../../assets/templates/sort %>
	</div>
	<ul class="collapsible popout" data-collapsible="accordion">
		<% _.each(records, function (athlete) { %>
		<li >
      		<div class="collapsible-header collapsible-list">
				<ul class="collection">
					<li class="collection-item avatar">
						<!-- Athlete Photo -->
						<% if(athlete.photo) { %>
						<img style="width: 42px; height: 42px;" src="/athlete/showPhotoByFd/<%=athlete.photo%>" alt="" class="circle">
						<% } else { %>
						<i class="material-icons circle">folder</i>
						<% } %>
						<!-- Icon Alert -->	
						<% if(moment().isAfter(moment(athlete.validity))) { %>
						<a  href="#modalBaseAthlete"
							data-action="/athlete/updateValidity/<%=athlete.id%>"
							data-form="#formBaseAthlete" 
							data-message="Deseja atualizar a data de validade da carteira do <%=(athlete.name)?athlete.name:''%>
							de <%=moment(athlete.validity).format('DD/MM/YYYY')%> para <%=moment().add(1,'years').format('DD/MM/YYYY')%>?"
							data-title="<%=i18n('Atualizar')%>"
							data-button="<%=i18n('Atualizar')%>"
							class="tooltipped modal-trigger a-icon-athlete"
							data-position="right" data-delay="50" data-tooltip="Carteira vencida. Validade: <%=moment(athlete.validity).format('DD/MM/YYYY')%>">
							<i class="material-icons icon-amber">mood_bad</i>
						</a>
						<% } else { %>
							<a href="#!" class="tooltipped a-icon-athlete"
								data-position="right" data-delay="50" 
								data-tooltip="Carteira Ok. Validade: <%=moment(athlete.validity).format('DD/MM/YYYY')%>">
								<i class="material-icons icon-green">mood</i>
							</a>
						<% } %>
						<!-- Athlete Name -->	
						<span class="title"><%=(athlete.name)?athlete.name:''%></span>
						<p><%=(athlete.email)?athlete.email:''%></p>
						<!-- Icon Belt Color -->	
						<a href="#!" 
							class="btn-floating waves-effect waves-light grey tooltipped a-background-to-icon-belt"
							data-position="right" data-delay="50" data-tooltip="<%=(athlete.graduation)?i18n(athlete.graduation):''%>">
							<i class="material-icons 
								icon-belt-<%=(athlete.graduation)?athlete.graduation.toLowerCase().replace(' ','-').replace('dan',''):''%>">lens</i>
						</a>
					</li>	
				</ul>	
			</div>
			<div class="collapsible-body">
				<div class="container">
					<div class="center">
						<!--Action Card -->
  						<a  href="<%=(moment().isAfter(moment(athlete.validity)))?'#modalBaseAthlete':'#modalCardAthlete'%>"
						  	data-form="<%=(moment().isAfter(moment(athlete.validity)))?'#formBaseAthlete':'#formCardAthlete'%>"
							data-action="<%=(moment().isAfter(moment(athlete.validity)))?'/athlete/updateValidity/'+athlete.id:''%>"
							data-message="Deseja atualizar a data de validade da carteira do <%=(athlete.name)?athlete.name:''%>
							de <%=moment(athlete.validity).format('DD/MM/YYYY')%> para <%=moment().add(1,'years').format('DD/MM/YYYY')%>?"
							data-title="<%=(moment().isAfter(moment(athlete.validity)))?i18n('Atualizar'):''%>"
							data-button="<%=(moment().isAfter(moment(athlete.validity)))?i18n('Atualizar'):''%>"
						  	data-athlete-photo="<%=(athlete.photo)?('/athlete/showPhotoByFd/'+athlete.photo):''%>"  
						  	data-athlete-name="<%=i18n('Name')%>: <%=(athlete.name)?athlete.name:''%>"  
						  	data-athlete-graduation="<%=i18n('Graduation')%>: <%=(athlete.graduation)?i18n(athlete.graduation):''%>"
						  	data-athlete-academy="<%=i18n('Academy')%>: <%=(athlete.associationName)?athlete.associationName:''%>"  
						  	data-athlete-date-started="<%=i18n('Date Started')%>: <%=(athlete.dateStarted)?moment(athlete.dateStarted).format('DD/MM/YYYY'):''%>"
						  	data-athlete-blood-group="<%=i18n('Blood Group')%>: <%=(athlete.bloodGroup)?athlete.bloodGroup:''%>"
					  		data-athlete-rh-factor="<%=i18n('RH Factor')%>: <%=(athlete.rhFactor)?athlete.rhFactor:''%>"  
						  	data-athlete-naturalness="<%=i18n('Naturalness')%>: <%=(athlete.naturalness)?athlete.naturalness:''%>"  
						  	data-athlete-bday="<%=i18n('Date of Birth')%>: <%=(athlete.bday)?moment(athlete.bday).format('DD/MM/YYYY'):''%>"
						  	data-athlete-register-number="<%=i18n('Register Number')%>: <%=(athlete.registerNumber)?athlete.registerNumber:''%>" 
						  	data-athlete-validity="<%=i18n('Validity')%> <%=i18n('for')%>: <%=(athlete.validity)
						  			? moment(athlete.validity).add(-1, 'years').format('DD/MM/YYYY')
					  				: moment().format('DD/MM/YYYY')%> <%=i18n('to')%>: <%=(athlete.validity)
							  		? moment(athlete.validity).format('DD/MM/YYYY')
								  	: moment().add(1, 'years').format('DD/MM/YYYY')%>"     
							class="btn-floating waves-effect waves-light 
							<%=(moment().isAfter(moment(athlete.validity)))?'amber':'green'%> 
							tooltipped modal-trigger-card"
							data-position="right" data-delay="50" 
							data-tooltip="<%=i18n('Card')%> <%=(moment().isAfter(moment(athlete.validity)))?'vencida':'ok'%>. Validade: <%=moment(athlete.validity).format('DD/MM/YYYY')%>">
							<i class="material-icons">credit_card</i>
					 	</a>
						<!--Action Show -->
						<a href="/athlete/show/<%=athlete.id%>" 
							class="btn-floating waves-effect waves-light brown tooltipped a-icon-action-show"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Show')%>">
							<i class="material-icons">search</i>
						</a>
						<!--Action Edit -->
						<a href="/athlete/edit/<%=athlete.id%>" 
							class="btn-floating waves-effect waves-light blue tooltipped"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Edit')%>">
							<i class="material-icons">create</i>
						</a>
						<!--Action Destroy -->
						<a  href="#modalBaseAthlete"
							data-action="/athlete/destroy/<%=athlete.id%>"
							data-form="#formBaseAthlete" 
							data-message="<%=i18n('Do you wish delete the user %s?',athlete.name)%>"
							data-title="<%=i18n('Delete')%>"
							data-button="<%=i18n('Delete')%>"
							class="btn-floating waves-effect waves-light red tooltipped modal-trigger"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Delete')%>">
							<i class="material-icons">clear</i>
						</a>
						<div class="row">
							<div class="input-field col s6">
								<input id="instructorName" name="instructorName" type="text" readonly value="<%=(athlete.instructorName)?athlete.instructorName:''%>">
								<label for="instructorName"><%=i18n('Instructor Name')%></label>
							</div>
							<div class="input-field col s6">
								<input id="associationName" name="associationName" type="text" readonly value="<%=(athlete.associationName)?athlete.associationName:''%>">
								<label for="associationName"><%=i18n('Association Name')%></label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s3">
								<input id="bday" name="bday" type="text" readonly 
									value="<%=(athlete.bday) ? moment(athlete.bday).format('DD/MM/YYYY') : ''%>">
								<label for="bday"><%=i18n('Date of Birth')%></label>
							</div>
							<div class="input-field col s3">
								<input id="dateStarted" name="dateStarted" type="text" readonly value="<%=(athlete.dateStarted)?athlete.dateStarted:''%>">
								<label for="dateStarted"><%=i18n('Date Started')%></label>
							</div>
							<div class="input-field col s3">
								<input id="phone" name="phone" type="text" readonly value="<%=(athlete.phone)?athlete.phone:''%>">
								<label for="phone"><%=i18n('Phone')%></label>
							</div>
							<div class="input-field col s3">
								<input id="naturalness" name="naturalness" type="text" readonly value="<%=(athlete.naturalness)?athlete.naturalness:''%>">
								<label for="naturalness"><%=i18n('Naturalness')%></label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<% }) %>
	</ul>
	<div class="row">
		<% include ../../assets/templates/paginate %>
	</div>
	<input type="hidden" id="urlColorCard" value="<%=sails.getBaseUrl()+'/images/carteira-colorida.jpg'%>">
	<input type="hidden" id="urlBlackCard" value="<%=sails.getBaseUrl()+'/images/carteira-preta.jpg'%>">
</div>

<div id="modalBaseAthlete" class="modal">
	<form id="formBaseAthlete" action="" method="POST">
		<input type="hidden" name="_method" value="delete" />
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<div class="modal-content">
			<h4></h4>
			<p></p>
		</div>
		<div class="modal-footer">
			<button id="buttonBaseAthlete" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action">
			</button>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=i18n('Close')%></a>
		</div>
	</form>
</div>

<div id="modalCardAthlete" class="modal modal-fixed-footer">
	<form id="formCardAthlete">
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<div class="modal-content">
			<h4><%=i18n('Card')%></h4>
			<div id="cardAthlete" class="container">
				<div class="row">
					<div class="cardAthleteDivImgCardPhotoTop">
      					<img id="athleteCardPhoto">
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardNameTop">
						<p id="athleteCardName"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardGraduationTop">
						<p id="athleteCardGraduation"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardAcademyTop">
						<p id="athleteCardAcademy"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardDateStartedTop">
						<p id="athleteCardDateStarted"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardBloodGroupTop">
						<p id="athleteCardBloodGroup"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardRHFactorTop">
						<p id="athleteCardRHFactor"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardNaturalnessTop">
						<p id="athleteCardNaturalness"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardBdayTop">
						<p id="athleteCardBday"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardRegisterNumberTop">
						<p id="athleteCardRegisterNumber"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardValidityTop">
						<p id="athleteCardValidity"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="downloadCardAthlete" target="_blank" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=i18n('Download')%></a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=i18n('Close')%></a>
		</div>
	</form>
</div>