<div class="container">
	<table class="center bordered hoverable responsive-table" align=center>
		<thead>
			<tr>
				<th data-field="name"><%=i18n('Name')%></th>
				<th data-field="email"><%=i18n('Email')%></th>
				<th data-field="graduation"><%=i18n('Graduation')%></th>
				<th data-field="instructorName"><%=i18n('Instructor')%></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% _.each(athletes, function (athlete) { %>
				<tr>
					<td>
						<%=(athlete.name)?athlete.name:''%>
					</td>
					<td>
						<%=(athlete.email)?athlete.email:''%>
					</td>
					<td>
						<%=(athlete.graduation)?i18n(athlete.graduation):''%>
					</td>
					<td>
						<%=(athlete.instructorName)?athlete.instructorName:''%>
					</td>
					<td>
  						<a  href="#modalCardAthlete"
						  	data-form="#formCardAthlete"
						  	data-athlete-photo="<%=(athlete.photo)?athlete.photo:''%>"  
						  	data-athlete-name="<%=i18n('Name')%>: <%=(athlete.name)?athlete.name:''%>"  
						  	data-athlete-graduation="<%=i18n('Graduation')%>: <%=(athlete.graduation)?i18n(athlete.graduation):''%>"
						  	data-athlete-academy="<%=i18n('Academy')%>: <%=(athlete.associationName)?athlete.associationName:''%>"  
						  	data-athlete-date-started="<%=i18n('Date Started')%>: <%=(athlete.dateStarted)?moment(athlete.dateStarted).format('DD/MM/YYYY'):''%>"  
							class="btn-floating waves-effect waves-light yellow tooltipped modal-trigger-card"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Card')%>">
							<i class="material-icons">credit_card</i>
					 	</a>
					</td>
					<td>
						<a href="/athlete/show/<%=athlete.id%>" 
							class="btn-floating waves-effect waves-light green tooltipped"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Show')%>">
							<i class="material-icons">search</i>
						</a>
					</td>
					<td>
						<a href="/athlete/edit/<%=athlete.id%>" 
							class="btn-floating waves-effect waves-light blue tooltipped"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Edit')%>">
							<i class="material-icons">create</i>
						</a>
					</td>
					<td>
  						<a  href="#modalDeleteAthlete"
						  	data-action="/athlete/destroy/<%=athlete.id%>"
						  	data-form="#formDeleteAthlete" 
						  	data-message="<%=i18n('Do you wish delete the user %s?',athlete.name)%>"
						  	data-title="<%=i18n('Delete')%>"
							class="btn-floating waves-effect waves-light red tooltipped modal-trigger"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Delete')%>">
							<i class="material-icons">clear</i>
					 	</a>
					</td>
				</tr>
				<% }) %>
		</tbody>
	</table>
	<div class="row">
		<% include ../../assets/templates/paginate %>
	</div>
	<input type="hidden" id="urlColorCard" value="<%=sails.getBaseUrl()+'/images/carteira-colorida.jpg'%>">
	<input type="hidden" id="urlBlackCard" value="<%=sails.getBaseUrl()+'/images/carteira-preta.jpg'%>">
</div>

<div id="modalDeleteAthlete" class="modal">
	<form id="formDeleteAthlete" action="" method="POST">
		<input type="hidden" name="_method" value="delete" />
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<div class="modal-content">
			<h4></h4>
			<p></p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" name="action">
				<%=i18n('Delete')%>
			</button>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=i18n('Close')%></a>
		</div>
	</form>
</div>

<div id="modalCardAthlete" class="modal modal-fixed-footer">
	<form id="formCardAthlete">
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<div class="modal-content">
			<h4>Carteira</h4>
			<div id="cardAthlete" class="container">
				<div class="row">
					<div class="cardAthleteDivImgCardPhotoTop">
      					<img id="athleteCardPhoto">
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardNameTop">
						<p id="athleteCardName"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardGraduationTop">
						<p id="athleteCardGraduation"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardAcademyTop">
						<p id="athleteCardAcademy"></p>
					</div>
					<div class="cardAthleteDivP cardAthleteDivPCardDateStartedTop">
						<p id="athleteCardDateStarted"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a id="downloadCardAthlete" target="_blank" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=i18n('Download')%></a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%=i18n('Close')%></a>
		</div>
	</form>
</div>