<div class="row">
    <div class="input-field col s6">
      <input value="Alvin" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">First Name</label>
    </div>
  </div>
	
    <ul class="collapsible popout" data-collapsible="accordion">
		<% _.each(records, function (athlete) { %>
		<li >
      		<div class="collapsible-header collapsible-list">
				<ul class="collection">
					<li class="collection-item avatar">
						<!-- Athlete Photo -->
						<% if(athlete.photo) { %>
						<img style="width: 42px; height: 42px;" src="/athlete/showPhotoByFd/<%=athlete.photo%>" alt="" class="circle">
						<% } else { %>
						<i class="material-icons circle">folder</i>
						<% } %>
						<!-- Icon Alert -->	
						<% if(moment().isAfter(moment(athlete.validity))) { %>
						<a  href="#modalBaseAthlete"
							data-action="/athlete/updateValidity/<%=athlete.id%>"
							data-form="#formBaseAthlete" 
							data-message="Deseja atualizar a data de validade da carteira do <%=(athlete.name)?athlete.name:''%>
							de <%=moment(athlete.validity).format('DD/MM/YYYY')%> para <%=moment().add(1,'years').format('DD/MM/YYYY')%>?"
							data-title="<%=i18n('Atualizar')%>"
							data-button="<%=i18n('Atualizar')%>"
							class="tooltipped modal-trigger a-icon-athlete"
							data-position="right" data-delay="50" data-tooltip="Carteira vencida. Validade: <%=moment(athlete.validity).format('DD/MM/YYYY')%>">
							<i class="material-icons icon-amber">warning</i>
						</a>
						<% } else { %>
							<a href="#!" class="tooltipped a-icon-athlete"
								data-position="right" data-delay="50" 
								data-tooltip="Carteira Ok. Validade: <%=moment(athlete.validity).format('DD/MM/YYYY')%>">
								<i class="material-icons icon-green">mood</i>
							</a>
						<% } %>
						<!-- Athlete Name -->	
						<span class="title"><%=(athlete.name)?athlete.name:''%></span>
						<p><%=(athlete.email)?athlete.email:''%></p>
						<!-- Icon Belt Color -->	
						<a href="#!" 
							class="btn-floating waves-effect waves-light grey tooltipped a-background-to-icon-belt"
							data-position="right" data-delay="50" data-tooltip="<%=(athlete.graduation)?i18n(athlete.graduation):''%>">
							<i class="material-icons 
								icon-belt-<%=(athlete.graduation)?athlete.graduation.toLowerCase().replace(' ','-').replace('dan',''):''%>">lens</i>
						</a>
					</li>	
				</ul>	
			</div>
			<div class="collapsible-body">
				<div class="container">
					<div class="center">
						<!--Action Card -->
  						<a  href="<%=(moment().isAfter(moment(athlete.validity)))?'#modalBaseAthlete':'#modalCardAthlete'%>"
						  	data-form="<%=(moment().isAfter(moment(athlete.validity)))?'#formBaseAthlete':'#formCardAthlete'%>"
							data-action="<%=(moment().isAfter(moment(athlete.validity)))?'/athlete/updateValidity/'+athlete.id:''%>"
							data-message="Deseja atualizar a data de validade da carteira do <%=(athlete.name)?athlete.name:''%>
							de <%=moment(athlete.validity).format('DD/MM/YYYY')%> para <%=moment().add(1,'years').format('DD/MM/YYYY')%>?"
							data-title="<%=(moment().isAfter(moment(athlete.validity)))?i18n('Atualizar'):''%>"
							data-button="<%=(moment().isAfter(moment(athlete.validity)))?i18n('Atualizar'):''%>"
						  	data-athlete-photo="<%=(athlete.photo)?('/athlete/showPhotoByFd/'+athlete.photo):''%>"  
						  	data-athlete-name="<%=i18n('Name')%>: <%=(athlete.name)?athlete.name:''%>"  
						  	data-athlete-graduation="<%=i18n('Graduation')%>: <%=(athlete.graduation)?i18n(athlete.graduation):''%>"
						  	data-athlete-academy="<%=i18n('Academy')%>: <%=(athlete.associationName)?athlete.associationName:''%>"  
						  	data-athlete-date-started="<%=i18n('Date Started')%>: <%=(athlete.dateStarted)?moment(athlete.dateStarted).format('DD/MM/YYYY'):''%>"
						  	data-athlete-blood-group="<%=i18n('Blood Group')%>: <%=(athlete.bloodGroup)?athlete.bloodGroup:''%>"
					  		data-athlete-rh-factor="<%=i18n('RH Factor')%>: <%=(athlete.rhFactor)?athlete.rhFactor:''%>"  
						  	data-athlete-naturalness="<%=i18n('Naturalness')%>: <%=(athlete.naturalness)?athlete.naturalness:''%>"  
						  	data-athlete-bday="<%=i18n('Date of Birth')%>: <%=(athlete.bday)?moment(athlete.bday).format('DD/MM/YYYY'):''%>"
						  	data-athlete-register-number="<%=i18n('Register Number')%>: <%=(athlete.registerNumber)?athlete.registerNumber:''%>" 
						  	data-athlete-validity="<%=i18n('Validity')%> <%=i18n('for')%>: <%=(athlete.validity)
						  			? moment(athlete.validity).add(-1, 'years').format('DD/MM/YYYY')
					  				: moment().format('DD/MM/YYYY')%> <%=i18n('to')%>: <%=(athlete.validity)
							  		? moment(athlete.validity).format('DD/MM/YYYY')
								  	: moment().add(1, 'years').format('DD/MM/YYYY')%>"     
							class="btn-floating waves-effect waves-light 
							<%=(moment().isAfter(moment(athlete.validity)))?'amber':'green'%> 
							tooltipped modal-trigger-card"
							data-position="right" data-delay="50" 
							data-tooltip="<%=i18n('Card')%> <%=(moment().isAfter(moment(athlete.validity)))?'vencida':'ok'%>. Validade: <%=moment(athlete.validity).format('DD/MM/YYYY')%>">
							<i class="material-icons">credit_card</i>
					 	</a>
						<!--Action Show -->
						<a href="/athlete/show/<%=athlete.id%>" 
							class="btn-floating waves-effect waves-light brown tooltipped a-icon-action-show"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Show')%>">
							<i class="material-icons">search</i>
						</a>
						<!--Action Edit -->
						<a href="/athlete/edit/<%=athlete.id%>" 
							class="btn-floating waves-effect waves-light blue tooltipped"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Edit')%>">
							<i class="material-icons">create</i>
						</a>
						<!--Action Destroy -->
						<a  href="#modalBaseAthlete"
							data-action="/athlete/destroy/<%=athlete.id%>"
							data-form="#formBaseAthlete" 
							data-message="<%=i18n('Do you wish delete the user %s?',athlete.name)%>"
							data-title="<%=i18n('Delete')%>"
							data-button="<%=i18n('Delete')%>"
							class="btn-floating waves-effect waves-light red tooltipped modal-trigger"
							data-position="right" data-delay="50" data-tooltip="<%=i18n('Delete')%>">
							<i class="material-icons">clear</i>
						</a>
                                                
						<div class="row">
							<div class="input-field col s6">
								<input id="instructorName" name="instructorName"  placeholder="" type="text" readonly value="<%=(athlete.instructorName)?athlete.instructorName:''%>">
								<label for="instructorName"><%=i18n('Instructor Name')%></label>
							</div>
							<div class="input-field col s6">
								<input id="associationName" name="associationName"  placeholder="" type="text" readonly value="<%=(athlete.associationName)?athlete.associationName:''%>">
								<label for="associationName"><%=i18n('Association Name')%></label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s3">
								<input id="bday" name="bday" type="text" readonly 
									value="<%=(athlete.bday) ? moment(athlete.bday).format('DD/MM/YYYY') : ''%>">
								<label for="bday"><%=i18n('Date of Birth')%></label>
							</div>
							<div class="input-field col s3">
								<input id="dateStarted" name="dateStarted" type="text" readonly value="<%=(athlete.dateStarted)?athlete.dateStarted:''%>">
								<label for="dateStarted"><%=i18n('Date Started')%></label>
							</div>
							<div class="input-field col s3">
								<input id="phone" name="phone" type="text" readonly value="<%=(athlete.phone)?athlete.phone:''%>">
								<label for="phone"><%=i18n('Phone')%></label>
							</div>
							<div class="input-field col s3">
								<input id="naturalness" name="naturalness" type="text" readonly value="<%=(athlete.naturalness)?athlete.naturalness:''%>">
								<label for="naturalness"><%=i18n('Naturalness')%></label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<% }) %>
	</ul>
