<div class="container">
	<div class="center">
		<!--<% if(flash && flash.err) { %>
			<ul class="alert alert-success">
            <% Object.keys(flash.err).forEach(function(error) { 
                var messages = flash.err[error].message;
                Object.keys(messages).forEach(function(key) { %>
                <li><%- JSON.stringify(messages[key][0].message)  %></li>	
            <% });
            }); %>	
			</ul>
		<% } %>-->
		<form action="/athlete/create" enctype="multipart/form-data" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input id="name" name="name" type="text" maxlength="50"
                        value="<%= MyViewValidate.getValueAfterReloadByField(flash,'name') %>"
                        class="validate <%= (MyViewValidate.validate(flash,'name').isValid ? '' : 'invalid') %>" 
                        <%=(MyViewValidate.validate(flash,'name').isValid ? '' : 'placeholder')%>>
					<label for="name" data-error="<%=(MyViewValidate.validate(flash,'name').message) || i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Name')%></label>
				</div>
				<div class="input-field col s6">
					<input id="email" name="email" type="email" maxlength="50"
                        value="<%= MyViewValidate.getValueAfterReloadByField(flash,'email') %>"
                        class="validate <%= (MyViewValidate.validate(flash,'email').isValid ? '' : 'invalid') %>" 
                        <%=(MyViewValidate.validate(flash,'email').isValid ? '' : 'placeholder')%>>
					<label for="email" data-error="<%=(MyViewValidate.validate(flash,'email').message) || i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Email')%></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="fatherName" name="fatherName" type="text" class="validate" maxlength="50">
					<label for="fatherName" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Father')%></label>
				</div>
				<div class="input-field col s6">
					<input id="motherName" name="motherName" type="text" class="validate" maxlength="50">
					<label for="motherName" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Mother')%></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input id="bday" name="bday" type="date" class="datepicker" maxlength="20">
					<label for="bday"><%=i18n('Date of Birth')%></label>
				</div>
				<div class="input-field col s3">
					<select id="education" name="education">
						<%_.each(Athlete.attributes.education.enum, function (eduEnum) {%>
							<option value="<%=eduEnum%>"><%=i18n(eduEnum)%></option>
						<%})%>
					</select>
					<label for="education" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Education')%></label>
				</div>
				<div class="input-field col s3">
					<input id="naturalness" name="naturalness" type="text" class="validate" maxlength="27">
					<label for="naturalness" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Naturalness')%></label>
				</div>
				<div class="input-field col s3">
					<input id="nationality" name="nationality" type="text" class="validate" maxlength="27">
					<label for="nationality" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Nationality')%></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="profession" name="profession" type="text" class="validate" maxlength="50">
					<label for="profession" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Profession')%></label>
				</div>
				<div class="input-field col s3">
					<input id="rg" name="rg" type="text" class="validate" maxlength="27">
					<label for="rg" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('RG')%></label>
				</div>
				<div class="input-field col s3">
					<input id="cpf" name="cpf" type="text" class="validate" maxlength="27">
					<label for="cpf" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('CPF')%></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s9">
					<input id="address" name="address" type="text" class="validate" maxlength="90">
					<label for="address" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Address')%></label>
				</div>
				<div class="input-field col s3">
					<input id="cep" name="cep" type="text" class="validate" maxlength="27">
					<label for="cep" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('CEP')%></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s9">
					<input id="businessAddress" name="businessAddress" type="text" class="validate" maxlength="90">
					<label for="businessAddress" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Business Address')%></label>
				</div>
				<div class="input-field col s3">
					<input id="phone" name="phone" type="text" class="validate" maxlength="27">
					<label for="phone" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Phone')%></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<select id="graduation" name="graduation">
						<%_.each(Athlete.attributes.graduation.enum, function (enumValue) {%>
							<option value="<%=enumValue%>"><%=i18n(enumValue)%></option>
						<%})%>
					</select>
					<label for="graduation" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Graduation')%></label>
				</div>
				<div class="input-field col s3">
					<input id="dateStarted" name="dateStarted" type="date" class="datepicker" maxlength="27">
					<label for="dateStarted"><%=i18n('Date Started')%></label>
				</div>
				<div class="input-field col s3">
					<select id="bloodGroup" name="rhFbloodGroupactor">
						<%_.each(Athlete.attributes.bloodGroup.enum, function (enumValue) {%>
							<option value="<%=enumValue%>"><%=i18n(enumValue).toUpperCase()%></option>
						<%})%>
					</select>
					<label for="bloodGroup" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Blood Group')%></label>
				</div>
				<div class="input-field col s3">
					<select id="rhFactor" name="rhFactor">
						<%_.each(Athlete.attributes.rhFactor.enum, function (enumValue) {%>
							<option value="<%=enumValue%>"><%=i18n(enumValue)%></option>
						<%})%>
					</select>
					<label for="rhFactor" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('RH Factor')%></label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="instructorName" name="instructorName" type="text" class="validate" maxlength="50">
					<label for="instructorName" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Instructor Name')%></label>
				</div>
				<div class="input-field col s6">
					<input id="associationName" name="associationName" type="text" class="validate" maxlength="50">
					<label for="associationName" data-error="<%=i18n('Invalid')%>" data-success="<%=i18n('Ok')%>"><%=i18n('Association Name')%></label>
				</div>
			</div>
			<input type="hidden" name="_csrf" value="<%=_csrf%>">
			<div class="row">
				<div class="col s6">
					<div class="file-field input-field">
						<div class="blue btn">
							<span><%=i18n('Photo')%></span>
							<input type="file" id="photo" name="photo"/>
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
				</div>
                <div class="input-field col s3">
					<input id="validityFrom" name="validityFrom" type="date" class="datepicker" maxlength="20" 
                        value="<%=moment().format('DD/MM/YYYY')%>">
					<label for="validityFrom"><%=i18n('Validity From')%></label>
				</div>
                <div class="input-field col s3">
					<input id="validityTo" name="validityTo" type="date" class="datepicker" maxlength="20" 
                        value="<%=moment().add(1, 'years').format('DD/MM/YYYY')%>">
					<label for="validityTo"><%=i18n('Validity To')%></label>
				</div>
			</div>
			<div class="row">
				<button class="blue btn waves-effect waves-light" type="submit" name="action"><%=i18n('Create')%>
					<i class="material-icons right">send</i>
				</button>
			</div>
			<input type="hidden" name="validity" value="<%=moment().add(1, 'years').format('DD/MM/YYYY')%>">
		</form>
	</div>
</div>