<%if(totalPage!=0){%>
<ul class="pagination center">
	<li class="<%=((currentPage == 1) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=((currentPage == 1) ? '#' : '/'+model+'?page='+(+currentPage-1))%>">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>
	<%for(i=1;i<=totalPage;i++){%>
	<li class="waves-effect <%=((currentPage == i) ? 'active' : '')%>">
		<a href="/<%=model%>?page=<%=i%>"><%=i%></a>
	</li>
	<%}%>
	<li class="<%=((currentPage == totalPage) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=((currentPage == totalPage) ? '#' : '/'+model+'?page='+(+currentPage+1))%>">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
</ul>
<%}%>