<%if(sortAndPaginate.totalPage!=0){%>
<ul class="pagination center">
	<li class="<%=((sortAndPaginate.currentPage == 1) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=((sortAndPaginate.currentPage == 1) ? '#' : '/'+sortAndPaginate.model+'?page='+(+sortAndPaginate.currentPage-1)+'&sortType='+sortAndPaginate.sortType+'&sortBy'+sortAndPaginate.sortBy)%>">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>
	<%for(i=1;i<=sortAndPaginate.totalPage;i++){%>
	<li class="waves-effect <%=((sortAndPaginate.currentPage == i) ? 'active' : '')%>">
		<a href="/<%=sortAndPaginate.model%>?page=<%=i%>&sortType=<%=sortAndPaginate.sortType%>&sortBy<%=sortAndPaginate.sortBy%>"><%=i%></a>
	</li>
	<%}%>
	<li class="<%=((sortAndPaginate.currentPage == sortAndPaginate.totalPage) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=((sortAndPaginate.currentPage == sortAndPaginate.totalPage) ? '#' : '/'+sortAndPaginate.model+'?page='+(+sortAndPaginate.currentPage+1)+'&sortType='+sortAndPaginate.sortType+'&sortBy'+sortAndPaginate.sortBy)%>">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
</ul>
<%}%>