<%if(myFind.totalPage!=0){%>
<ul class="pagination center">
	<li class="<%=((myFind.currentPage == 1) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=((myFind.currentPage == 1) 
			? '#' : '/'+myFind.model+'?page='+(+myFind.currentPage-1))%>
			<%=((req.param('sortType'))?('&sortType='+req.param('sortType')):'')%>
			<%=((req.param('sortBy'))?('&sortBy='+req.param('sortBy')):'')%>
			<%=((req.param('filterIsOpen'))?('&filterIsOpen='+req.param('filterIsOpen')):'')%>
			<%=(req.param('nameFilter')?('&nameFilter='+req.param('nameFilter')):'')%>
			<%=((req.param('validityFilter'))?('&validityFilter='+req.param('validityFilter')):'')%>">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>
	<%for(i=1;i<=myFind.totalPage;i++){%>
	<li class="waves-effect <%=((myFind.currentPage == i) ? 'active' : '')%>">
		<a href="/<%=myFind.model%>?page=<%=i%>
				<%=(req.param('sortType')?'&sortType='+req.param('sortType'):'')%>
				<%=(req.param('sortBy')?'&sortBy='+req.param('sortBy'):'')%>
				<%=((req.param('filterIsOpen'))?('&filterIsOpen='+req.param('filterIsOpen')):'')%>
				<%=(req.param('nameFilter')?('&nameFilter='+req.param('nameFilter')):'')%>
				<%=((req.param('validityFilter'))?('&validityFilter='+req.param('validityFilter')):'')%>"><%=i%></a>
	</li>
	<%}%>
	<li class="<%=((myFind.currentPage == myFind.totalPage) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=
			((myFind.currentPage == myFind.totalPage) 
			? '#' : '/'+myFind.model+'?page='+(+myFind.currentPage+1))%>
			<%=((req.param('sortType'))?('&sortType='+req.param('sortType')):'')%>
			<%=((req.param('sortBy'))?('&sortBy='+req.param('sortBy')):'')%>
			<%=((req.param('filterIsOpen'))?('&filterIsOpen='+req.param('filterIsOpen')):'')%>
			<%=(req.param('nameFilter')?('&nameFilter='+req.param('nameFilter')):'')%>
			<%=((req.param('validityFilter'))?('&validityFilter='+req.param('validityFilter')):'')%>">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
</ul>
<%}%>