<%if(myFind.totalPage!=0){%>
<ul class="pagination center">
	<li class="<%=((myFind.currentPage == 1) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=((myFind.currentPage == 1) 
			? '#' : '/'+myFind.model+'?page='+(+myFind.currentPage-1))%>
			<%Object.keys(req.params.all()).forEach(function(key){
				if(key != 'page'){%>
				<%- '&'+key+'='+req.params.all()[key]  %>
			<%}});%>">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>
	<%for(i=1;i<=myFind.totalPage;i++){%>
	<li class="waves-effect <%=((myFind.currentPage == i) ? 'active' : '')%>">
		<a href="/<%=myFind.model%>?page=<%=i%>
			<%Object.keys(req.params.all()).forEach(function(key){
				if(key != 'page'){%>
				<%- '&'+key+'='+req.params.all()[key]  %>
			<%}});%>">
			<%=i%>
		</a>
	</li>
	<%}%>
	<li class="<%=((myFind.currentPage == myFind.totalPage) ? 'disabled' : 'waves-effect')%>">
		<a href="<%=
			((myFind.currentPage == myFind.totalPage) 
			? '#' : '/'+myFind.model+'?page='+(+myFind.currentPage+1))%>
			<%Object.keys(req.params.all()).forEach(function(key){
				if(key != 'page'){%>
				<%- '&'+key+'='+req.params.all()[key]  %>
			<%}});%>">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
</ul>
<%}%>