<% _.each(myFind.sort.attributes, function (attribute) { 
	if (attribute.sortable) { %>
	<th data-field="<%=attribute.name%>">
		<a  class="a-sort-<%=attribute.name%>"
			href="/<%=myFind.model%>
			?sortType=<%=((myFind.sort.by == attribute.name) ? (myFind.sort.type == 'ASC' ? 'DESC' : 'ASC') : 'ASC')%>
			&sortBy=<%=attribute.name%>
			<%=(req.param('page')?('&page='+req.param('page')):'')%>
			<%=(req.param('filterIsOpen')?('&filterIsOpen='+req.param('filterIsOpen')):'')%>
			<%=(req.param('nameFilter')?('&nameFilter='+req.param('nameFilter')):'')%>
			<%=((req.param('validityFilter'))?('&validityFilter='+req.param('validityFilter')):'')%>">
			<%=i18n(attribute.name)%>
			<i class="material-icons icon-sort">arrow_drop_<%=((myFind.sort.by == attribute.name) ? (myFind.sort.type == 'DESC' ?  'up' : 'down') : 'down')%></i>
		</a>
	</th>
<% }else{%>
	<th data-field="<%=attribute.name%>"><%=i18n(attribute.name)%></th>
<% }}) %>